/* Add CSS Styling */
.odd{
    background-color: #FFC0CBFF;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#second{
    color:blue;
    font-size: 36px;
}
#third{
    font-size: 24px;
}
#fourth{
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}